
/* ========== Base Styles ========= */

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --gray-light: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    
}

body {
    background-color: var(--gray-light);
    color: var(--gray-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 100vh;
}

h1 {
    color: var(--gray-blue);
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    color: var(--dark-blue);
    margin-top: 0.2em;
    margin-bottom: 1em;
}

h3 {
    color: var(--dark-blue);
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    font-size: 0.75em;
    line-height: 2;
    margin: 0;
}

.main-header p {
    font-size: .9em;
    margin-bottom: 4em;
}

.icon {
    height: 3em;
    width: 3em;
    margin-top: 1em;
}

.supervisor {
    border-top: 4px solid var(--cyan);
}

.team-builder {
    border-top: 4px solid var(--red);
}

.karma {
    border-top: 4px solid var(--orange);    
}

.calculator {
    border-top: 4px solid var(--blue);
}

.flex {
    padding-top: 5%;
    border: none;
}

/* ========== Base Layout ========= */

.flex,
.main-header,
.card {
    display: flex;
    flex-direction: column;
    align-items:center ;
    
}

.main-header,
.card {
    box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.226);
    height: 200px;
    width: 300px ;
    
}

.main-header {
    padding: 2em 0;
    text-align: center;
    box-shadow: none;  
    margin-bottom: 4em; 
    border: none;
}

.card {
    padding:1.5em 1.5em;
    /* margin-top: 1.5em; */
    margin-bottom: 1.5em;
    border-radius: 5px;
    align-items: flex-start;
}

.icon {
    align-self: flex-end;
}

/* Sticky Footer */

main {
    flex: 1;
}


/* ========== Media Queries ========= */

@media (min-width:1024px) {
    .flex{
        min-height: 100vh;
    }
    .main-header {
        width: 500px;
    }

    h1,
    h2 {
        font-size: 2em;
    }
    
    footer {
        margin-top: auto;
    }

    main {
        display: flex;
        flex-direction: row;
    }
    
    .column {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 1em;
    }

    .supervisor,
    .calculator,
    .column {
        align-self: center;
    }

    
}